
body, html {
  height: 100%;
  min-height: 100%;
  background: #f0f2f5;
}

body {
  padding: 20px;
}

@navSize: 50;
@maxElement: 10;

.qz-wrapper {
    width: 100%;
    li {
        width: calc(100%/6);
        color: #CDD0DC;
        line-height: @navSize*1px;
        display: inline-block;
        font-size: 14px;
        position: relative;
        height: @navSize * 1px;
        //cursor: pointer;

        .icon-done {
            color: #fff; 
            font-size: 18px;
            display: none;
        }
      
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            left: 50%;
            top: 0;
            bottom: 0;
            margin: auto 0 auto 0;
            z-index: -2;
          }

        &:last-child:after {
            content: '';
            width: 0;
          }

        &.active {
            color: #1995dc;
            cursor: default;

            &:before {
                border: 2px solid #1995dc;
            }
          }

        &.done {
          color: #1995dc;
            cursor: default;
          
            .icon-done {
                display: inherit;
            }

            .qz-step-text {
                display: none;
            }

            &:before {
                background: #1995dc;
                border: 2px solid #1995dc;
            }

            &:after {
                background: #1995dc;
            }
        }

        &.disabled {
          cursor: default;
          
          &:before {
            background: #EAECEF;
            border: 2px solid #E7E7E7;
          }
        }

        &:before {
            content: '';
            position: absolute;
            width: @navSize * 1px;
            height: @navSize * 1px;
            font-size: 16px;
            background: #ffffff;
            border-radius: 50%;
            left: 0;
            right: 0;
            margin: 0 auto 5px auto;
            z-index: -1;
            //cursor: pointer; 
            }
            

              .looper (@index) when (@index > 0) {
                  li:nth-child(@{index}) {
                      z-index: @index;
                  }

                  .looper(@index - 1);
              }

              .looper(@maxElement);
          }
     
  
  .qz-content {
    margin-top: 20px;
    //background: #E2B8FF;
    padding: 20px;
    width: 100%;
    
    
       
    .qz-item {
      width: 100%;
      margin-bottom: 10px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      display: table;
    }
    
    .qz-text {
      padding: 10px 10px 10px 20px;
      display: table-cell;
      horizontal-align: middle;
      
    }
    
    .qz-action {
      background: #F8F8F8;
      text-align: left;
      padding: 5px 20px 5px 5px;
      display: table-cell;
      horizontal-align: middle;
      width: 100px;
      border-left: 1px solid #A1A1A1;
      
      
      .qz-radio {
        padding: 5px 5px 5px 10px;
        text-align: left;
        width: 100%;
        //background: #ff0000;
        
      }
    }
    
  }
}